<h2>Sobre</h2>
<h3>
    Informações a respeito desta
    aplicação de exemplo
</h3>

<p>
    Aplicação MVC criada com o objetivo
    de se testar o consumo de dados compactados
    retornados por um serviço Web API.
</p>